#game {
text-align: center;
width: 46rem;
height: 30rem;
margin: auto;
border-style: solid;
padding-right: 2.5rem;
}

.textDiv {
width: 50%;
float: left;
height: 2.5rem;
}

#player {
 width: 20rem;
  height: 20rem;
  display: inline-block;
border-style: solid;
  }

#computer {
 width: 20rem;
 height: 20rem;
 float: right;
 border-style: solid;
}

.gridsquare {
width: 2rem;
height:2rem;
float: left;
border: .01rem solid black;
background-color: #1ad1ff;
}